/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/



.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    background: url("../images/cover-image-dark.png") fixed ;
    --header-font-color:#DB00FF;
    --header-shadow: 4px 4px #FF0070;
    --main-title-background-color: #FF0070;
    --description-font-color: #F1B2CE;
    --article-font-color: #FF0070;
    --main-title-color: #000028;



}

@media (prefers-color-scheme: dark) {
    :root {
        /* Дублируем переменные светлой темы */
        --header-font-color:#DB00FF;
        --header-shadow: 4px 4px #FF0070;
        --main-title-background-color: #FF0070;
        --description-font-color: #F1B2CE;
        --article-font-color: #FF0070;
        --main-title-color: #000028;
    }
}

/*.page {*/

/*}*/

/*.main_header {*/
/*    color: var(--header-font-color);*/
/*    text-shadow: var(--header-shadow);*/
/*}*/

/*.main_title {*/
/*    background-color: var(--main-title-background-color);*/
/*}*/