/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
    background: var(--background-image);


}

.header {
    height: 100vh;
    display: grid;
    grid-template-rows:  1fr min-content 1fr;
    padding: 10px;

}

.decorated-zone {

}

.header__theme-menu {
    display: flex;
    justify-self: end;
    align-self: center;

}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header__theme-menu-button {
    font-family: "IBM Plex Mono", sans-serif;
    text-transform: lowercase;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    height: 26px;
    width: 70px;
    border: none;
    background-color: transparent;
}

.header__theme-menu-button_active {
    border: 1px black solid;
    color: var(--description-font-color) ;
}

.main_title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    font-weight: 700;
    font-family: 'IBM Plex Mono', sans-serif;
    justify-self: start;
    align-self: center;
    line-height: 95.7px;
    display: block;
    color: var(--header-font-color);
    text-shadow: 4px 4px #FF0070;
}

.main_subtitle {
    display: flex;
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    max-height: 117px;
    width: min(100%,364px);
    align-self: center;
    justify-self: end;
    background-color: var(--main-title-background-color);
    color: var(--article-font-color);
}

.article_subtitle {
    display: flex;
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    margin-left: auto;
    width: 100%;
    color: var(--main-title-color) ;
    background-color: var(--main-title-background-color)
}

.extra_margin {
    margin-top: 10px;
}

.right_corner {
    display: flex;
    position: absolute;
    right: 10px;
    top:8px;
    border-right: 1px solid;
    border-top: 1px solid;
    width: 25px;
    height: 25px;
    align-self: end;
    border-color: #FF0070;
}

.rec {
    font-family: 'IBM Plex Mono', sans-serif;
    color: #FF0070;
    display: flex;
    position: absolute;
    right: 40px;
    top: 15px;
}


.ellipse {
    width: 9px;
    height: 9px;
    background-color: #FF0070;
    margin: auto;
    border-radius: 9px;
    box-shadow: 1px 1px 1px 1px #FF0070;
}

.left_corner {
    border-left: 1px solid;
    border-bottom: 1px solid;
    width: 25px;
    height: 25px;
    border-color: #FF0070;
    position: absolute;
    bottom:10px;
    left:10px;
}

.main_content {
    margin-top: 40px;
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.article_title {
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 700;
    color: var(--article-font-color);
    font-size: 18px;
    display: flex;
    margin-bottom: 20px;
}

.article_block_1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.article_block_2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.description {
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    text-align: left;
    display: block;
    color: var(--description-font-color);

}

.article_template {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.regular {
    font-weight: 400;
}


@media (min-width: 768px) {
    .main_title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header {
        padding: 20px 20px 20px 0px;
    }

    .main_content {
        padding: 0px 20px 0px 20px;
        margin-top: 60px;
        gap:80px;
    }

    .right_corner {
        right: 20px;
        top:18px;
    }

    .rec {
        right: 50px;
        top: 22px;
    }


    .left_corner {

        bottom:24px;
        left:20px;
    }


    .article_title {
        max-width: calc((98vw/3) - 20px);
        min-width: 236px;

    }

    .article_template {
        gap: 10px;
    }


    .content_type_1 {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);

    }

    .article_block_1 {
        grid-column-start: 2;  grid-column-end: span 2;
    }

}

@media (min-width: 1024px) {

    .header {
        padding: 0px 20px 10px 0px;
    }

    .header__theme-menu {
        display: flex;
        justify-self: center;
        align-self: start;
        padding-right: 23px;

    }

    .main_subtitle {
        width: calc((100vw - 20px - 20px)/2) ;

    }

    .header__theme-menu-list {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }


    .header__theme-menu {
        display: flex;
        flex-direction: column;
    }

    .article_title {
        max-width: calc(98vw/3);
    }

    .content_type_2 {
        display: grid;
        grid-auto-flow: row;
    }

    .article_block_2 {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3,1fr);
    }
}