/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --background-image: url("../images/cover-image.png") fixed;
    --background-color: white;
    --header-shadow: 4px 4px #FF0070;
    --title-background-color: #FF8DCB;
    --header-font-color:#FFC2E6;
    --subtitle-font-color: #353430;
    --article-title-font-color: #353430;
    --description-font-color: #353430;
    --rec-visibility: transparent;
}