/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --background-image: url("../images/cover-image-light.png");
    --background-color: #FFF1F7;
    --header-shadow: 4px 4px #FF8DCB;
    --header-shadow-wide-screen: 4px 4px #FF0070;
    --title-background-color: #FF8DCB;
    --header-font-color:#FFC2E6;
    --subtitle-font-color: #353430;
    --article-title-font-color: #353430;
    --description-font-color: #353430;
    --corner-color: #353430;
    --rec-visibility: transparent;
    --link--shadow: #FF8DCB;
    --border-hover-color: #32312D66;
}
